.altura {
  height: 80px;
}

.formatacao {
  line-height: 0%;
  padding: 0;
  font-size: 2.5rem;
}

.altura-card {
  height: 245px;
}

span {
  text-align: center;
}

.texto-card {
  text-decoration: none;
  color: #757575;
}

.autor-data {
  display: block;
  margin-bottom: 10px;

  font-size: 12px;
  color: #333333;
}

@media (max-width: 1630px) {
  .altura-card {
    height: 300px;
  }
}

@media (max-width: 1200px) {
  .altura-card {
    height: 245px;
  }
}

@media (max-width: 760px) {
  .altura-card {
    height: 300px;
  }
}

@media (max-width: 600px) {
  .altura-card {
    height: auto;
  }
}
