.margin-t {
  margin-top: 10%;
}

.card-mao-1 {
  padding: 20px 15px;
  border-left: 1px solid rgb(67, 66, 66);
  border-top: 1px solid rgb(67, 66, 66);
  border-right: 1px solid rgb(67, 66, 66);
}

.card-mao-2 {
  margin: 0;
  padding: 20px 15px;
  border-left: 1px solid rgb(67, 66, 66);
  border-right: 1px solid rgb(67, 66, 66);
  border-bottom: 1px solid rgb(67, 66, 66);
}
