* {
  font-family: "Roboto", sans-serif;
}

body {
  background: #e9e9e9;
}

.avatar-menu {
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem 0;
}

.logo-menu {
  display: none;
}

.texto-menu {
  display: block;
}

.logo-container {
  display: flex;
  justify-content: flex-end;
}

.menu-logo-mobile {
  width: 50%;
}

@media (max-width: 600px) {
  .logo-menu {
    display: block;
    margin-top: 5px;
    margin-right: 15px;
  }

  .texto-menu {
    display: none !important;
  }
}
