body {
  background: #e0e0e0;
}

.avatar-menu {
  width: 2.5rem;
  height: 2.5rem;
  margin: 1rem 0;
}

.posicao-letra {
  padding: 20px;
  margin-top: 8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img-principal {
  width: 100%;
}

.wave {
  position: fixed;
  z-index: -1;
  margin-top: 0%;
}

@media (max-width: 1380px) {
  .wave {
    display: none;
  }
}

@media (max-width: 992px) {
  .posicao-letra {
    text-align: center;
    margin-top: 2rem;
  }
}
